<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Check the Temp anywhere in the world</h1>
    <form action="/" method="post">
    <input type ="name" name="city" placeholder="city">
    <input type="submit" value="submit">
    </form>
    
    {{#each data}}
        <p>{{this}}</p>
    {{/each}}
    
</body>
</html>